<div class="div">
  <form action="">
    <label for="">Email</label>
    <input type="email" name="" id="" />
    <label for="">Nuevo Password</label>
    <input type="password" name="" id="" />
    <button type="summit">Aceptar</button>
  </form>
</div>