<div class="container mt-5 pb-5 bg-info bg-gradient">
  <h1 class="title text-center">Bienvenido {{user.first_name}} a nuestra sala de chat.</h1>

  <div class="card mt-4" id="{{user.first_name}}">
    <div class="card-body">
      <div class="mb-3">
        <label for="chatBox" class="form-label">Ingrese su mensaje y presione
          Enter</label>
        <input id="chatBox" class="form-control" />
      </div>
      <h3>Mensajes</h3>
      <div class="chat-log">
        <p id="messageLogs"></p>
      </div>
    </div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/chat.js"></script>