<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-end mt-2">
      <div>        
        <button type="submit" class="btn btn-primary" id="loginBtn" onclick="location.href='/login'">Login</button>
        <button type="submit" class="btn btn-info" onclick="location.href='/singup'">SingUp</button>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center">Listado de productos</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div
        id="cardProductos"
        class="container d-flex flex-wrap justify-content-center"
      >
      </div>
    </div>
  </div>
</div>

<script type="module" src="../public/js/home.js"></script>