<div class="container">
  <div class="row">
<h1 class="text-center">Listado de productos</h1>
  </div>
  <div class="row">    
  <div class="col-12">
  <div id="cardProductos" class="container d-flex flex-wrap justify-content-center">

  </div>
  </div>
  </div>
</div>

<script type="module" src="../public/js/home.js"></script>