<div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-12 text-center">
                <h1 class="display-1 bg-warning">404</h1>
                <p class="lead">Oops! Página no encontrada.</p>
            </div>
        </div>
    </div>