<div class="container">
    <div class="page-title">
        <h1>Recuperar acceso</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container">
                <div class="form-description">
                    <h4>Cambi치 tu contrase침a</h4>
                </div>
                <div>
                    <form class="form" action="" id="resetPassword">
                        <div class="mb-3">
                            <label for="password" class="form-label">Nueva contrase침a</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <div class="notification" id="notif"></div>
                        </div>
                        <button class="btn btn-primary" type="submit">Cambiar contrase침a</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
